:root {
    --black: #000000;
    --dark-gray: #1A1A1A;
    --gold: #FFD700;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--black);
    color: var(--gold);
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--gold);
}

/* Header */
.main-header {
    position: relative;
    /* nodig voor absolute nav-links */
    display: flex;
    flex-direction: column;
    /* mobile-first: kolom */
    align-items: center;
    padding: 1rem;
    background-color: var(--black);
    box-shadow: 0 2px 40px rgba(255, 215, 0, 0.2);
    height: auto;
}

/* Logo links */
.logo {
    flex-shrink: 0;
    /* logo krimpt niet */
}

.logo img {
    height: 120px;
    width: auto;
}

/* Nav-links gecentreerd in de pagina */
.nav-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* afstand tussen Home / Shop / Contact */
    padding: 0;
    margin-top: 1rem;
    text-align: center;
}

/* Links styling */
.nav-links a {
    text-decoration: none;
    color: var(--gold);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    padding-bottom: 2px;
}

.nav-links a:hover {
    color: #ffffff;
    border-bottom: 2px solid var(--gold);
}

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: static;
    background-color: transparent;
    min-width: 200px;
    z-index: 1;
    border-top: none;
}

.dropdown-content a {
    padding: 8px 0;
    display: block;
    /* border: none; */
}

.dropdown-content a:hover {
    background-color: rgba(255, 215, 0, 0.1);
}

/* Dropdown zichtbaar bij hover */
.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    text-align: center;
}

/* Grotere schermen */
@media (min-width: 768px) {
    .main-header {
        flex-direction: row;
        height: 10vh;
        padding: 0 2rem;
    }

    .logo img {
        height: 150px;
        width: 200px;
    }

    .nav-links {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); /*bekijken*/
        flex-direction: row;
        gap: 8rem;
        margin: 40px;
        padding-bottom: 50px;
        text-align: initial;
    }

    .dropdown-content {
        position: absolute;
        background-color: var(--black);
        border-top: 2px solid var(--gold);
        min-width: 200px;
    }

    .dropdown-content a {
        padding: 12px 16px;
        border-bottom: 1px solid rgba(255, 215, 0, 0.2);
    }
}

@media (min-width: 1024px) {
    .nav-links {
        gap: 10rem;
        /* grote afstand op desktops */
    }
}