:root {
  --black: #000000;
  --dark-gray: #1a1a1a;
  --gold: #ffd700;
  --white: #ffffff;
  --darkblue : #2c3e50;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--black);
  color: var(--gold);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--gold);
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--black);
  box-shadow: 0 2px 40px rgba(255, 215, 0, 0.2);
}

.logo img {
  height: 150px;
}



.nav-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0;
  margin-top: 1.5rem;
  text-align: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--gold);
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding-bottom: 2px;
}

.nav-links a:hover {
  color: var(--white);
  border-bottom: 2px solid var(--gold);
}


.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
}

.dropdown-content a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--gold);
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.search-container {
  margin-top: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 8px 35px 8px 10px;
  border: 3px solid var(--gold);
  border-radius: 20px;
  background-color: var(--white);
  color: var(--black);
  width: 200px;
  font-weight: 600;
}

.search-container button {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

footer {
  text-align: center;
}



@media (min-width: 992px) {
  .main-header {
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem 4rem;
  }

  .logo img {
    margin: 0;
    height: 120px;
  }

  nav {
    margin-left: auto;
    margin-right: 2rem;
  }

  .nav-links {
    flex-direction: row;
    gap: 7rem;
    margin-top: 0;
  }

  .search-container {
    margin-top: 0;
  }

  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--black);
    border-top: 2px solid var(--gold);
    z-index: 999;
  }
}
